body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  line-height: 1;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: normal;
  padding-top: 10px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: white;
}

.computer {
  height: 200px;
  width: auto;
  position: absolute;
  right: 50px;
  top: 50px;
}

.cpu {
  height: 600px;
  width: auto;
  margin: 0 auto;
  padding-top: 100px;
}

.index {
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: .005;
}

.selfImg {
  width: 15%;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.cpuImg {
  width: 35%;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 15px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #66BFBF;
  display: block;
  height: 80px;
}

.sidenav a:hover {
  color: #064579;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.linkedin {
  text-decoration: none;
  color: #11999E;
  display: inline;
  font-size: 100%;
  margin: 10px 20px;
}

.web-link {
  text-decoration: none;
  color: #11999E;
  display: inline;
  font-size: 100%;
  margin: 10px 20px;
}

.bottom-footer {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.download-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #E4F9F5;
  -webkit-box-shadow: inset 0px 1px 0px 0px #E4F9F5;
  box-shadow: inset 0px 1px 0px 0px #E4F9F5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66BFBF), color-stop(1, #11999E));
  background: -moz-linear-gradient(center top, #66BFBF 5%, #11999E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66BFBF', endColorstr='#11999E');
  background-color: #66BFBF;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #528009;
}

.download-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11999E), color-stop(1, #66BFBF));
  background: -moz-linear-gradient(center top, #11999E 5%, #66BFBF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999E', endColorstr='#66BFBF');
  background-color: #11999E;
}

.download-btn:active {
  position: relative;
  top: 1px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: grey;
  color: #EAF6F6;
}

.book {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.skill-pic {
  width: 15%;
  float: left;
  margin-right: 30px;
}

/* Form style */
input, textarea {
  outline: none;
}

form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #E4F9F5;
  margin: 0 auto;
  text-align: left;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}

.form-inner textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #11999E;
  background: #d0dfe8;
  font-size: 16px;
  font-weight: 400;
  color: #66BFBF;
}
.mid-project1, .mid-project2, .mid-experience1, .mid-experience2, .mid-project3{
  position: relative;
  height: 300px;
  width: 1500px;
  background-color: #E4F9F5;
  margin: 0 auto;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 1%;
}


button:hover {
  background: #66BFBF;
  background: -moz-linear-gradient(center top, #11999E 5%, #66BFBF 100%);
  text-decoration: underline;
  text-decoration-color: grey;
  color: #EAF6F6;
}

.formLabel {
  text-align: center;
}


.live-button{
  border-right: 200px;
  margin-left: 200px;
  border-left: 100px;
  padding-left: 100px;

}

@media (min-width: 568px) {
  form {
    width: 60%;
  }
  .mid-project1, .mid-project2, .mid-experience1, .mid-experience2, .mid-project3{
    width: 60%
  }
}
